body, html {
    height:100%;
}

body {
    background: url("Img/Cocktail\ Line\ Up.jpg");
    background-attachment: fixed;
    background-repeat: repeat;
}

.Nav {
    background-color:#747474;
    overflow: hidden;
}

.Nav a {
    float: left;
    color: #ffe400;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    font-size:20px;
}

header {
    font-size:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    font-family: sans-serif;
    background-color: #272727;
    height:100px;
    width:100%;
    
}

.parallax {
    background-image:url("Img/Spirit\ _shelf.jpg");
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    margin-left:50px;
    margin-right:50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
}

img {
    border: 5px solid #272727;
    
}

.Hist {
    margin-left:200px;
    margin-right: 200px;
    Font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom:2px solid #ffe400;
    background-color: #272727;
}

h2 {
    color:#ffffff;
}

.Hist1 {
    overflow: hidden;
    margin-left:200px;
    margin-right: 200px;
    Font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    background-color: #747474;
    text-align: center;

}

.Hist1 p {
    color:#ffffff;
}


