body, html {
    height:100%;
}

body {
    padding:0px;
    margin:0px;
    background-color: #ffffff;
}

.Nav {
    background-color:#2D283E;
    overflow: hidden;
    margin-bottom:25px;
}
header {
    font-size:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
    font-family: sans-serif;
    background-color: #802BB1;
    height:100px;
    width:100%;
}
.Nav a {
    width:120px;
    float: left;
    color: #ffe400;
    text-align: center;
    padding: 15px 20px 15px 30px;
    text-decoration: none;
    font-size:30px;
}

.Nav a:hover{
    color:#802BB1;
}


.parallax {
    color:#ffffff;
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url("Img/Spirit\ _shelf.jpg");
    height:100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1 {
    background-color: #802BB1;
    padding:2rem;
}

.main {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
}

img {
    border: 5px solid #802BB1;
    margin-top:30px;
}

.Hist {
    margin-left:200px;
    margin-right: 200px;
    Font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-bottom:2px solid #ffe400;
    background-color: #802BB1;
}

h2 {
    color:#ffffff;
}

.Hist1 {
    overflow: hidden;
    margin-left:200px;
    margin-right: 200px;
    Font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    text-align: center;
    background-color: #4C495D;

}

.Hist1 p {
    color:#ffffff;
}

.histwrap {
    /*background-color:#2D283E ;*/
}


