body,
html {
    height: 100%vh;
    width:100%vw;
    overflow-x:hidden;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    
}

nav {
    display: inline-block;
    width:100%;
    height: 60px;
    background-color: #2D283E;
    direction: rtl;
    padding: 15px 40px 0px 15px;  
}

.Nav1 a {
    color: #ffe400;
    text-decoration: none;
    font-size: 30px;
    padding: 15px 40px 0px 15px;
    
}

nav a:hover {
    color: #802BB1;
}

.head {
    position: relative;
    bottom: 32px;
    left:20px;
    float:left;
    color: #802BB1;
    font-family: sans-serif;
    
}

.head h1{
    font-size:45px;   
}

.parallax {
    font-size:30px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/equip.jpg);
    height:850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    background-size:contain;
}
.parallax h1 {
    background-color: #802BB1;
    color:#ffffff;
    padding: 10px 25px 10px 25px;
}

.equip {
    margin-top:50px;
    margin-bottom:50px;
    display:flex;
    justify-content: space-around;
    
}

.equip1 {
    Width:20%;
    height: auto;
    padding: 10px;
    background-color: #2D283E;
    box-sizing: content-box;
    display:inline-block;
    text-align: center;
}

.equip1 h2 {
    text-align: center;
    color:#802BB1;
}

.equip1 p {
    color: #ffffff;
    font-size:20px;
    text-align: left;
}

.equip2 {
    width:20%;
    height:auto;
    padding: 10px;
    background-color: #2D283E;
    box-sizing: content-box;
    display:inline-block;
    text-align: center;
}

.equip2 h2 {
    color:#802BB1;
}

.equip2 p {
    color: #ffffff;
    font-size:20px;
    text-align: left;
}

.equip3 {
    Width:20%;
    height: auto;
    padding: 10px;
    background-color: #2D283E;
    box-sizing: content-box;
    display:inline-block;
    text-align: center;
}

.equip3 h2 {
    color: #802BB1;
}

.equip3 p {
    color: #ffffff;
    font-size:20px;
    text-align: left;
}

.lowequip {
    margin-top:50px;
    margin-bottom:50px;
    display:flex;
    justify-content: space-around;
    
}

.low1 {
    Width:20%;
    height: auto;
    padding: 10px;
    background-color: #2D283E;
    box-sizing: content-box;
    display:inline-block;
    text-align: center;
}

.low1 h2 {
    color: #802BB1;
}

.low1 p {
    color: #ffffff;
    font-size:20px;
    text-align: left;
}

.low2 {
    Width:20%;
    height: auto;
    padding: 10px;
    background-color: #2D283E;
    box-sizing: content-box;
    display:inline-block;
    text-align: center;
}

.low2 h2 {
    color: #802BB1;
}

.low2 p {
    color: #ffffff;
    font-size:20px;
    text-align: left;
}

.low3 {
    Width:20%;
    height: auto;
    padding: 10px;
    background-color: #2D283E;
    box-sizing: content-box;
    display:inline-block;
    text-align: center;
}

.low3 h2 {
    color: #802BB1;
}

.low3 p {
    color: #ffffff;
    font-size:20px;
    text-align: left;
}



footer {
    background-color: #2D283E;
    width:100%;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer h1 {
    
    color:#802BB1;
    padding-left:30px;
   
}

footer ul li {
    display:inline-block;
    color:#ffe400;
    font-size: 30px;
}
ul strong {
    color:#802BB1;
}
