body,
html {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
}

nav {
    width:100%;
    height: 60px;
    background-color: #2D283E;
    padding: 15px 40px 0px 15px;
    
}

.Nav1 a {
    position:relative;
    Bottom:108px;
    left:830px;
    color: #ffe400;
    text-decoration: none;
    font-size: 30px;
    padding: 15px 40px 0px 15px;
}

.head {
    position: relative;
    bottom: 32px;
    left:20px;
    color: #802BB1;
    font-family: sans-serif;
    
}

.head h1{
    font-size:45px;   
}

.clear {
    clear:both;
}

/*.head h1::before,
.head h1::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #802BB1;
    width: 7rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}*/



nav a:hover {
    color: #802BB1;
}

.parallax {
    color: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/spiritShelf.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax h1::before,
.parallax h1::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #ffffff;
    width: 7rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.parallax h1 {
    background-color: #802BB1;
}

.Hist {
    margin-left: 200px;
    margin-right: 200px;
    Font-size: 20px;
    font-family: sans-serif;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #802BB1;
}

.Hist h2::before,
.Hist h2::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid #802BB1;
    width: 7rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}

.Hist1 {
    padding-left:50px;
    width:45%;
    Font-size: 20px;
    font-family: sans-serif;
    text-align: left;
    padding-bottom: 30px;
    float:left;
}

.Hist1 p {
    color:#ffffff;
}

.hist2 {
    width:45%;
    Font-size: 20px;
    font-family: sans-serif;
    text-align: left;
    padding-bottom:30px;
    float:left;
    
}

.hist2 p {
    width:600px;
    padding-right:200px;
    padding-left:100px;
    color:#ffffff;
    
}

.histall {
    background-color: #802BB1;
    display:inline-block;
}

.clear {
    clear: both;
}

.bwbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bwbar img {
    margin-bottom: 20px;
    margin-top:20px;
}

footer {
    background-color: #2D283E;
    width:100%;
    height:100px;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer h1 {
    
    color:#802BB1;
    padding-left:30px;
   
}

footer ul li {
    display:inline-block;
    color:#ffe400;
    font-size: 30px;
}
ul strong {
    color:#802BB1;
}
